pipeline/pl_copy_orchstration.json
{
	"name": "pl_copy_orchstration",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_copy_data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Web_Success_Post",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"body": {
						"value": "{\n  \"PipelineName\": \"@{pipeline().Pipeline}\",\n  \"PipelineRunID\": \"@{pipeline().RunId}\",\n  \"FailedActivity\": \"pl_src_landing_load\",\n  \"ErrorMessage\": \"@{activity('Execute Pipeline1').Error.Message}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "dev_clintrail/EmailTest"
		},
		"annotations": []
	}
}