pipeline/pl_landing_bronze_data_load.json
{
	"name": "pl_landing_bronze_data_load",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Bronze_Control_Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqlserver_source_tables_param",
						"type": "DatasetReference",
						"parameters": {
							"pDsServerName": "localhost\\SQLEXPRESS",
							"pDsDatabasename": "dev_clintrail_edc_src",
							"pDsSchemaName": "edcsrcmetadata",
							"pDsTableName": "srcEdcLandToBronzeControl"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Landing_File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Bronze_Control_Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Bronze_Control_Table').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Notebook_landing_bronze",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/intellibidatabricks01@gmail.com/intelliBI_databricks_clintrail/landing_bronze_load/03_nb_landing_bronze_load",
								"baseParameters": {
									"domain": {
										"value": "@item().Domain",
										"type": "Expression"
									},
									"storageAccName": {
										"value": "@item().StorageAccName",
										"type": "Expression"
									},
									"srcContainerName": {
										"value": "@item().SrcContainerName",
										"type": "Expression"
									},
									"tgtCatalog": {
										"value": "@item().TgtCatalog",
										"type": "Expression"
									},
									"tgtSchema": {
										"value": "@item().TgtSchema",
										"type": "Expression"
									},
									"tgtTableName": {
										"value": "@item().TgtTableName",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_databricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "dev_clintrail/landing_bronze_load"
		},
		"annotations": []
	}
}