pipeline/pl_new_pipeline_orchestration.json
{
	"name": "pl_new_pipeline_orchestration",
	"properties": {
		"activities": [
			{
				"name": "pl_src_landing_load",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_sqlserver_src_adls_landing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "pl_src_landing_load",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-27.centralindia.logic.azure.com:443/workflows/50d8f9c820984ba3ac5b881f5d8d8349/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=VSXi5VKcWalgzwC8T51Y9tyTojUc4vJQ9eaDXQE4tfA",
					"body": {
						"value": "{\n  \"pipelineName\": \"pl_master_orchestration\",\n  \"failedStage\": \"pl_src_landing_load\",\n  \"errorMessage\": \"@{activity('pl_src_landing_load').Error.message}\",\n  \"runUrl\": \"https://adf.azure.com/monitoring/pipelineruns/@{pipeline().RunId}\"\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "dev_clintrail"
		},
		"annotations": []
	}
}