pipeline/pl_new_pipeline_orchestration.json
{
	"name": "pl_new_pipeline_orchestration",
	"properties": {
		"activities": [
			{
				"name": "pl_src_landing_load",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_sqlserver_src_adls_landing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "pl_src_landing_load",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"body": {
						"value": "{\n  \"pipelineName\": \"pl_new_pipeline_orchestration\",\n  \"errorMessage\": \"@{activity('pl_new_pipeline_orchestration').Error.message}\",\n  \"runUrl\":       \"https://adf.azure.com/monitoring/pipelineruns/@{pipeline().RunId}\"\n}\n\n\n\n\npl_new_pipeline_orchestration",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "dev_clintrail"
		},
		"annotations": []
	}
}