pipeline/pl_silver_gold_dim_data_load.json
{
	"name": "pl_silver_gold_dim_data_load",
	"properties": {
		"activities": [
			{
				"name": "Lookup_silver_gold",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT * FROM [', pipeline().parameters.pPlSchemaName,\n        '].[', pipeline().parameters.pPlTableName,\n        '] WHERE entityType = ''dimension''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqlserver_source_tables_param",
						"type": "DatasetReference",
						"parameters": {
							"pDsServerName": {
								"value": "@pipeline().parameters.pPlServername",
								"type": "Expression"
							},
							"pDsDatabasename": {
								"value": "@pipeline().parameters.pPlDatabaseName",
								"type": "Expression"
							},
							"pDsSchemaName": {
								"value": "@pipeline().parameters.pPlSchemaName",
								"type": "Expression"
							},
							"pDsTableName": {
								"value": "@pipeline().parameters.pPlTableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_silver_gold",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_silver_gold",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_silver_gold').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Notebook_silver_gold_dim",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/intellibidatabricks01@gmail.com/intelliBI_databricks_clintrail/silver_gold_load/nb_gold_dimensions",
								"baseParameters": {
									"srcCatalog": {
										"value": "@item().SrcCatalog",
										"type": "Expression"
									},
									"srcSchema": {
										"value": "@item().SrcSchema",
										"type": "Expression"
									},
									"srcTableName": {
										"value": "@item().SrcTableName",
										"type": "Expression"
									},
									"tgtCatalog": {
										"value": "@item().TgtCatalog",
										"type": "Expression"
									},
									"tgtSchema": {
										"value": "@item().TgtSchema",
										"type": "Expression"
									},
									"tgtTableName": {
										"value": "@item().TgtTableName",
										"type": "Expression"
									},
									"scdType": {
										"value": "@item().ScdType",
										"type": "Expression"
									},
									"businessKey": {
										"value": "@item().BusinessKey",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_databricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pPlServername": {
				"type": "string",
				"defaultValue": "localhost\\SQLEXPRESS"
			},
			"pPlDatabaseName": {
				"type": "string",
				"defaultValue": "dev_clintrail_edc_src"
			},
			"pPlSchemaName": {
				"type": "string",
				"defaultValue": "edcsrcmetadata"
			},
			"pPlTableName": {
				"type": "string",
				"defaultValue": "srcEdcSilverToGoldControl"
			}
		},
		"folder": {
			"name": "dev_clintrail/silver_gold_dim_load"
		},
		"annotations": []
	}
}