adf-clintrial-dev001/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-clintrial-dev001"
		},
		"ls_adls_clintrail_dev_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adls_clintrail_dev'"
		},
		"ls_adls_clintrail_dev_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stclintraildev001.dfs.core.windows.net/"
		},
		"ls_azure_key_vault_secrets_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-azure-keyvault-secret.vault.azure.net/"
		},
		"ls_azure_databricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0709-084254-b6vs5dp7"
		},
		"ls_sqlserver_param_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "@{linkedService().pLsServerName}"
		},
		"ls_sqlserver_param_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "@{linkedService().pLsDatabasename}"
		},
		"ls_sqlserver_param_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adf_login"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_clintrail_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_clintrail_dev_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_clintrail_dev_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azure_key_vault_secrets')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_azure_key_vault_secrets_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/shir-local-computer')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_landing_parquet_param')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_clintrail_dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pDsFileName": {
						"type": "string"
					},
					"pDsFolderName": {
						"type": "string"
					},
					"pDsContainerName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().pDsFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().pDsFolderName",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().pDsContainerName",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_clintrail_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azure_databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405605926355859.19.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_azure_key_vault_secrets",
							"type": "LinkedServiceReference"
						},
						"secretName": "databricks-token"
					},
					"existingClusterId": "[parameters('ls_azure_databricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_key_vault_secrets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sqlserver_param')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pLsServerName": {
						"type": "string"
					},
					"pLsDatabasename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_sqlserver_param_properties_typeProperties_server')]",
					"database": "[parameters('ls_sqlserver_param_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sqlserver_param_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_azure_key_vault_secrets",
							"type": "LinkedServiceReference"
						},
						"secretName": "sqlserver-user-password"
					}
				},
				"connectVia": {
					"referenceName": "shir-local-computer",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-local-computer')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_key_vault_secrets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlserver_source_tables_param')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqlserver_param",
					"type": "LinkedServiceReference",
					"parameters": {
						"pLsServerName": {
							"value": "@dataset().pDsServerName",
							"type": "Expression"
						},
						"pLsDatabasename": {
							"value": "@dataset().pDsDatabasename",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pDsServerName": {
						"type": "string"
					},
					"pDsDatabasename": {
						"type": "string"
					},
					"pDsSchemaName": {
						"type": "string"
					},
					"pDsTableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().pDsSchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().pDsTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlserver_param')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_testdfahdfadfajk')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sqlserver_source_tables_param",
								"type": "DatasetReference",
								"parameters": {
									"pDsServerName": "localhost\\SQLEXPRESS",
									"pDsDatabasename": "dev_clintrail_edc_src",
									"pDsSchemaName": "src",
									"pDsTableName": "DM"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sqlserver_source_tables_param",
								"type": "DatasetReference",
								"parameters": {
									"pDsServerName": "localhost\\SQLEXPRESS",
									"pDsDatabasename": "dev_clintrail_edc_src",
									"pDsSchemaName": "src",
									"pDsTableName": "fadfafadsf"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "dev_clintrail"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_source_tables_param')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_bronze_silver_data_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_bronze_silver_control_tab",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT * FROM [', pipeline().parameters.pPlSchemaName,\n        '].[', pipeline().parameters.pPlTableName,\n        '] WHERE Enabled = ''True''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sqlserver_source_tables_param",
								"type": "DatasetReference",
								"parameters": {
									"pDsServerName": {
										"value": "@pipeline().parameters.pPlServerName",
										"type": "Expression"
									},
									"pDsDatabasename": {
										"value": "@pipeline().parameters.pPlDatabaseName",
										"type": "Expression"
									},
									"pDsSchemaName": {
										"value": "@pipeline().parameters.pPlSchemaName",
										"type": "Expression"
									},
									"pDsTableName": {
										"value": "@pipeline().parameters.pPlTableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Domain_Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_bronze_silver_control_tab",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_bronze_silver_control_tab').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Notebook_Domain",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/intellibidatabricks01@gmail.com/intelliBI_databricks_clintrail/bronze_silver_load/nb_bronze_silver_load",
										"baseParameters": {
											"domain": {
												"value": "@item().Domain",
												"type": "Expression"
											},
											"srcCatalog": {
												"value": "@item().SrcCatalog",
												"type": "Expression"
											},
											"srcSchema": {
												"value": "@item().SrcSchema",
												"type": "Expression"
											},
											"srcTableName": {
												"value": "@item().SrcTableName",
												"type": "Expression"
											},
											"tgtCatalog": {
												"value": "@item().TgtCatalog",
												"type": "Expression"
											},
											"tgtSchema": {
												"value": "@item().TgtSchema",
												"type": "Expression"
											},
											"tgtTableName": {
												"value": "@item().TgtTableName",
												"type": "Expression"
											},
											"businessKey": {
												"value": "@item().BusinessKey",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_azure_databricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pPlServerName": {
						"type": "string",
						"defaultValue": "localhost\\SQLEXPRESS"
					},
					"pPlDatabaseName": {
						"type": "string",
						"defaultValue": "dev_clintrail_edc_src"
					},
					"pPlSchemaName": {
						"type": "string",
						"defaultValue": "edcsrcmetadata"
					},
					"pPlTableName": {
						"type": "string",
						"defaultValue": "srcEdcBronzeToSilverControl"
					}
				},
				"folder": {
					"name": "dev_clintrail/bronze_silver_load"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_source_tables_param')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_activity_1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sqlserver_source_tables_param",
								"type": "DatasetReference",
								"parameters": {
									"pDsServerName": "localhost\\SQLEXPRESS",
									"pDsDatabasename": "dev_clintrail_edc_src",
									"pDsSchemaName": "src",
									"pDsTableName": "DS"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sqlserver_source_tables_param",
								"type": "DatasetReference",
								"parameters": {
									"pDsServerName": "localhost\\SQLEXPRESS",
									"pDsDatabasename": "dev_healthConnect_raw",
									"pDsSchemaName": "dbo",
									"pDsTableName": "email_test"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "dev_clintrail/clintrail_master"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_source_tables_param')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_activity_2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sqlserver_source_tables_param",
								"type": "DatasetReference",
								"parameters": {
									"pDsServerName": "localhost\\SQLEXPRESS",
									"pDsDatabasename": "dev_clintrail_edc_src",
									"pDsSchemaName": "src",
									"pDsTableName": "DS"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sqlserver_source_tables_param",
								"type": "DatasetReference",
								"parameters": {
									"pDsServerName": "localhost\\SQLEXPRESS",
									"pDsDatabasename": "dev_healthConnect_raw",
									"pDsSchemaName": "dbo",
									"pDsTableName": "email_test1"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "dev_clintrail/clintrail_master"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_source_tables_param')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_landing_bronze_data_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Bronze_Control_Table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sqlserver_source_tables_param",
								"type": "DatasetReference",
								"parameters": {
									"pDsServerName": "localhost\\SQLEXPRESS",
									"pDsDatabasename": "dev_clintrail_edc_src",
									"pDsSchemaName": "edcsrcmetadata",
									"pDsTableName": "srcEdcLandToBronzeControl"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Landing_File",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Bronze_Control_Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Bronze_Control_Table').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Notebook_landing_bronze",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/intellibidatabricks01@gmail.com/intelliBI_databricks_clintrail/landing_bronze_load/03_nb_landing_bronze_load",
										"baseParameters": {
											"domain": {
												"value": "@item().Domain",
												"type": "Expression"
											},
											"storageAccName": {
												"value": "@item().StorageAccName",
												"type": "Expression"
											},
											"srcContainerName": {
												"value": "@item().SrcContainerName",
												"type": "Expression"
											},
											"tgtCatalog": {
												"value": "@item().TgtCatalog",
												"type": "Expression"
											},
											"tgtSchema": {
												"value": "@item().TgtSchema",
												"type": "Expression"
											},
											"tgtTableName": {
												"value": "@item().TgtTableName",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_azure_databricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "dev_clintrail/landing_bronze_load"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_source_tables_param')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_silver_gold_dim_data_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_silver_gold",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT * FROM [', pipeline().parameters.pPlSchemaName,\n        '].[', pipeline().parameters.pPlTableName,\n        '] WHERE entityType = ''dimension''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sqlserver_source_tables_param",
								"type": "DatasetReference",
								"parameters": {
									"pDsServerName": {
										"value": "@pipeline().parameters.pPlServername",
										"type": "Expression"
									},
									"pDsDatabasename": {
										"value": "@pipeline().parameters.pPlDatabaseName",
										"type": "Expression"
									},
									"pDsSchemaName": {
										"value": "@pipeline().parameters.pPlSchemaName",
										"type": "Expression"
									},
									"pDsTableName": {
										"value": "@pipeline().parameters.pPlTableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_silver_gold",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_silver_gold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_silver_gold').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Notebook_silver_gold_dim",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/intellibidatabricks01@gmail.com/intelliBI_databricks_clintrail/silver_gold_load/nb_gold_dimensions",
										"baseParameters": {
											"srcCatalog": {
												"value": "@item().SrcCatalog",
												"type": "Expression"
											},
											"srcSchema": {
												"value": "@item().SrcSchema",
												"type": "Expression"
											},
											"srcTableName": {
												"value": "@item().SrcTableName",
												"type": "Expression"
											},
											"tgtCatalog": {
												"value": "@item().TgtCatalog",
												"type": "Expression"
											},
											"tgtSchema": {
												"value": "@item().TgtSchema",
												"type": "Expression"
											},
											"tgtTableName": {
												"value": "@item().TgtTableName",
												"type": "Expression"
											},
											"scdType": {
												"value": "@item().ScdType",
												"type": "Expression"
											},
											"businessKey": {
												"value": "@item().BusinessKey",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_azure_databricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pPlServername": {
						"type": "string",
						"defaultValue": "localhost\\SQLEXPRESS"
					},
					"pPlDatabaseName": {
						"type": "string",
						"defaultValue": "dev_clintrail_edc_src"
					},
					"pPlSchemaName": {
						"type": "string",
						"defaultValue": "edcsrcmetadata"
					},
					"pPlTableName": {
						"type": "string",
						"defaultValue": "srcEdcSilverToGoldControl"
					}
				},
				"folder": {
					"name": "dev_clintrail/silver_gold_dim_load"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_source_tables_param')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_silver_gold_fact_data_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_silver_gold",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT * FROM [', pipeline().parameters.pPlSchemaName,\n        '].[', pipeline().parameters.pPlTableName,\n        '] WHERE entityType = ''fact''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sqlserver_source_tables_param",
								"type": "DatasetReference",
								"parameters": {
									"pDsServerName": {
										"value": "@pipeline().parameters.pPlServername",
										"type": "Expression"
									},
									"pDsDatabasename": {
										"value": "@pipeline().parameters.pPlDatabaseName",
										"type": "Expression"
									},
									"pDsSchemaName": {
										"value": "@pipeline().parameters.pPlSchemaName",
										"type": "Expression"
									},
									"pDsTableName": {
										"value": "@pipeline().parameters.pPlTableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_silver_gold",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_silver_gold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_silver_gold').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Notebook_silver_gold_fact",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/intellibidatabricks01@gmail.com/intelliBI_databricks_clintrail/silver_gold_load/nb_gold_facts",
										"baseParameters": {
											"entityName": {
												"value": "@item().EntityName",
												"type": "Expression"
											},
											"srcCatalog": {
												"value": "@item().SrcCatalog",
												"type": "Expression"
											},
											"srcSchema": {
												"value": "@item().SrcSchema",
												"type": "Expression"
											},
											"srcTableName": {
												"value": "@item().SrcTableName",
												"type": "Expression"
											},
											"tgtCatalog": {
												"value": "@item().TgtCatalog",
												"type": "Expression"
											},
											"tgtSchema": {
												"value": "@item().TgtSchema",
												"type": "Expression"
											},
											"tgtTableName": {
												"value": "@item().TgtTableName",
												"type": "Expression"
											},
											"businessKey": {
												"value": "@item().BusinessKey",
												"type": "Expression"
											},
											"eventDateCol": {
												"value": "@item().EventDateCol",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_azure_databricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pPlServername": {
						"type": "string",
						"defaultValue": "localhost\\SQLEXPRESS"
					},
					"pPlDatabaseName": {
						"type": "string",
						"defaultValue": "dev_clintrail_edc_src"
					},
					"pPlSchemaName": {
						"type": "string",
						"defaultValue": "edcsrcmetadata"
					},
					"pPlTableName": {
						"type": "string",
						"defaultValue": "srcEdcSilverToGoldControl"
					}
				},
				"folder": {
					"name": "dev_clintrail/silver_gold_dim_load"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_source_tables_param')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_sqlserver_src_adls_landing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupSQLServerControlTable",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT * FROM [', pipeline().parameters.pSchemaName,\n        '].[', pipeline().parameters.pTableName,\n        '] WHERE Enabled = ''True''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sqlserver_source_tables_param",
								"type": "DatasetReference",
								"parameters": {
									"pDsServerName": {
										"value": "@pipeline().parameters.pServerName",
										"type": "Expression"
									},
									"pDsDatabasename": {
										"value": "@pipeline().parameters.pDatabasename",
										"type": "Expression"
									},
									"pDsSchemaName": {
										"value": "@pipeline().parameters.pSchemaName",
										"type": "Expression"
									},
									"pDsTableName": {
										"value": "@pipeline().parameters.pTableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupSQLServerControlTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupSQLServerControlTable').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copydata_sqlserver_landing",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{item().SrcSchemaName}.@{item().SrcTableName}"
										},
										{
											"name": "Destination",
											"value": "@{item().LandingContainerName}/@{concat(item().SrcSchemaName,'/',item().SrcTableName,'/ingest_date=',formatDateTime(utcNow(),'yyyy-MM-dd'))}/@{concat(item().SrcTableName, '_', formatDateTime(utcNow(),'yyyyMMddHHmmss'), '.parquet')}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@if(equals(item().IngestionType,'Incremental'),\n    concat('SELECT * FROM ',item().SrcSchemaName,'.',item().SrcTableName,\n           ' WHERE ',coalesce(item().WatermarkColName,''),\n           ' > ''',coalesce(string(item().WatermarkColValue),''),''''),\n    concat('SELECT * FROM ',item().SrcSchemaName,'.',item().SrcTableName))",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sqlserver_source_tables_param",
											"type": "DatasetReference",
											"parameters": {
												"pDsServerName": {
													"value": "@item().SrcServerName",
													"type": "Expression"
												},
												"pDsDatabasename": {
													"value": "@item().SrcDatabaseName",
													"type": "Expression"
												},
												"pDsSchemaName": {
													"value": "@item().SrcSchemaName",
													"type": "Expression"
												},
												"pDsTableName": {
													"value": "@item().SrcTableName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_landing_parquet_param",
											"type": "DatasetReference",
											"parameters": {
												"pDsFileName": {
													"value": "@{concat(item().SrcTableName, '_', formatDateTime(utcNow(),'yyyyMMddHHmmss'), '.parquet')}",
													"type": "Expression"
												},
												"pDsFolderName": "@{concat(item().SrcSchemaName,'/',item().SrcTableName,'/ingest_date=',formatDateTime(utcNow(),'yyyy-MM-dd'))}",
												"pDsContainerName": {
													"value": "@item().LandingContainerName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "LookupGetMaxMetaData",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Copydata_sqlserver_landing",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT MAX([', coalesce(item().WatermarkColName,'MODIFIED_TS'),\n        ']) AS NewWatermark FROM ', item().SrcSchemaName, '.', item().SrcTableName)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_sqlserver_source_tables_param",
											"type": "DatasetReference",
											"parameters": {
												"pDsServerName": "localhost\\SQLEXPRESS",
												"pDsDatabasename": "dev_clintrail_edc_src",
												"pDsSchemaName": "edcsrcmetadata",
												"pDsTableName": "srcEdcClintrailToLandControl"
											}
										}
									}
								},
								{
									"name": "Stored procedureUpdtMxModifiedDt",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "LookupGetMaxMetaData",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[edcsrcmetadata].[usp_UpdateMxWatermark]",
										"storedProcedureParameters": {
											"MetadataId": {
												"value": {
													"value": "@item().MetadataId",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"NewWatermarkValue": {
												"value": {
													"value": "@activity('LookupGetMaxMetaData').output.firstRow.NewWatermark",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_sqlserver_param",
										"type": "LinkedServiceReference",
										"parameters": {
											"pLsServerName": {
												"value": "@item().SrcServerNamee",
												"type": "Expression"
											},
											"pLsDatabasename": {
												"value": "@item().SrcDatabaseName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pServerName": {
						"type": "string",
						"defaultValue": "localhost\\SQLEXPRESS"
					},
					"pDatabasename": {
						"type": "string",
						"defaultValue": "dev_clintrail_edc_src"
					},
					"pSchemaName": {
						"type": "string",
						"defaultValue": "edcsrcmetadata"
					},
					"pTableName": {
						"type": "string",
						"defaultValue": "srcEdcClintrailToLandControl"
					}
				},
				"folder": {
					"name": "dev_clintrail/source_landing_load"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_source_tables_param')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_landing_parquet_param')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlserver_param')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_clintrail_master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute_Pipeline_Source_Landing",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_sqlserver_src_adls_landing",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute_Pipeline_Landing_Bronze",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute_Pipeline_Source_Landing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_landing_bronze_data_load",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute_Pipeline_Bronze_Silver",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute_Pipeline_Landing_Bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_bronze_silver_data_load",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute_Pipeline_Silver_Gold_Dim",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute_Pipeline_Bronze_Silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_silver_gold_dim_data_load",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute_Pipeline_Silver_Gold_Fact",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute_Pipeline_Silver_Gold_Dim",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_silver_gold_fact_data_load",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "dev_clintrail/clintrail_master"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_sqlserver_src_adls_landing')]",
				"[concat(variables('factoryId'), '/pipelines/pl_landing_bronze_data_load')]",
				"[concat(variables('factoryId'), '/pipelines/pl_bronze_silver_data_load')]",
				"[concat(variables('factoryId'), '/pipelines/pl_silver_gold_dim_data_load')]",
				"[concat(variables('factoryId'), '/pipelines/pl_silver_gold_fact_data_load')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_copy_activity_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_copy_activity_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline2_copy1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_copy_activity_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "dev_clintrail/clintrail_master"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_copy_activity_1')]",
				"[concat(variables('factoryId'), '/pipelines/pl_copy_activity_2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_clintrail_master_orchestration')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute_Pipeline_Clintrail_Master",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_clintrail_master",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Web_Failed",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Execute Pipeline_copy_data",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-12.centralindia.logic.azure.com:443/workflows/505daf2d56ae44a2b994ce0f33e0f440/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=81hh1qYk0w1bh_-6cJB2jacbAbll6z3sVHHrpR0EDUg",
							"body": {
								"value": "{\n    \"Status\": \"Failed\",\n    \"PipeLineName\": \"@{pipeline().Pipeline}\",\n    \"ErrorMsg\": \"@{activity('Execute Pipeline_copy_data').Error?.Message}\"\n}\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Web_Success",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Execute Pipeline_copy_data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-12.centralindia.logic.azure.com:443/workflows/505daf2d56ae44a2b994ce0f33e0f440/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=81hh1qYk0w1bh_-6cJB2jacbAbll6z3sVHHrpR0EDUg",
							"body": {
								"value": "{\n    \"Status\": \"Success\",\n    \"PipeLineName\" : \"@{pipeline().Pipeline}\",\n    \"StartTime\" : \"@{pipeline().TriggerTime}\",\n    \"EndTime\" : \"@{utcNow()}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Execute Pipeline_copy_data",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_copy_master",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "dev_clintrail/clintrail_master"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_clintrail_master')]",
				"[concat(variables('factoryId'), '/pipelines/pl_copy_master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_master_orchestration')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_copy_master",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "dev_clintrail/clintrail_master"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_copy_master')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_copy_master_every_5Mins')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_clintrail_master_orchestration",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 5,
						"startTime": "2026-07-14T08:15:00",
						"endTime": "2026-07-16T02:41:00",
						"timeZone": "India Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_clintrail_master_orchestration')]"
			]
		}
	]
}